<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        body,
        html {
            width: 100%;
            height: 100%;
            margin: 0;
            font-size: 14px;
        }
        #l-map {
            height: 100%;
            width: 100%;
        }
        #r-result-start,#r-result-end {
            width: 100%;
        }
    </style>
    <script src="/webjars/jquery/3.2.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript"
            src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=ucHrfnAMPHBwtvcgdktxiL6soHhsszq5"></script>

    <title>关键字输入提示获取内容反填入表单</title>
</head>

<body>
<div id="r-result-start">出发地:<input type="text" id="startId" size="20" value="百度" style="width:300px;"/></div>
<div id="searchStartResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
<div class="">
    出发地址:<input type="text" id="addressStart" value="" readonly="readonly" style="width:400px;" placeholder="请输入地址"/>
</div>
<div id="r-result-end">目的地:<input type="text" id="endId" size="20" value="百度" style="width:300px;"/></div>
<div id="searchEndResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
<div class="">
    目的地址:<input type="text" id="addressEnd" value="" readonly="readonly" style="width:400px;" placeholder="请输入地址"/>
</div>
<div id="l-map"></div>
<script type="text/javascript">
    var map = new BMapGL.Map("l-map");
    // 初始化地图,设置城市和地图级别。
    map.centerAndZoom("哈尔滨市", 12);

    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    //建立一个自动完成的对象
    var acStart = new BMapGL.Autocomplete({
        "input": "startId",
        "location": map
    });

    var acEnd = new BMapGL.Autocomplete({
        "input": "endId",
        "location": map
    });


    //鼠标放在下拉列表上的事件
    acStart.addEventListener("onhighlight", function (e) {
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchStartResultPanel").innerHTML = str;
    });

    //鼠标放在下拉列表上的事件
    acEnd.addEventListener("onhighlight", function (e) {
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchEndResultPanel").innerHTML = str;
    });



    var myValueStart;
    //鼠标点击下拉列表后的事件
    acStart.addEventListener("onconfirm", function (e) {
        var _value = e.item.value;
        myValueStart = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchStartResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValueStart;
        setPlaceStart();
    });
    var myValueEnd;
    //鼠标点击下拉列表后的事件
    acEnd.addEventListener("onconfirm", function (e) {
        var _value = e.item.value;
        myValueEnd = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchEndResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValueEnd;

        setPlaceEnd();
    });

    function setPlaceStart() {
        //清除地图上所有覆盖物
        map.clearOverlays();

        function myFunStart() {
            //获取第一个智能搜索的结果
            var pp = local.getResults().getPoi(0).point;
            // 获取搜索结果的详细地址
            window.alert(local.getResults().getPoi(0).address)
            let address = local.getResults().getPoi(0).address;
            // 将获取到的地址填充到表单
            window.document.getElementById("addressStart").value = address
            map.centerAndZoom(pp, 18);
            //添加标注
            map.addOverlay(new BMapGL.Marker(pp));
        }

        //智能搜索
        var local = new BMapGL.LocalSearch(map, {
            onSearchComplete: myFunStart()
        });
        local.search(myValueStart);
    }

    function setPlaceEnd() {
        //清除地图上所有覆盖物
       // map.clearOverlays();

        function myFun() {
            //获取第一个智能搜索的结果
            var pp = local.getResults().getPoi(0).point;
            // 获取搜索结果的详细地址
            window.alert(local.getResults().getPoi(0).address)
            let addressEnd = local.getResults().getPoi(0).address;
            // 将获取到的地址填充到表单
            window.document.getElementById("addressEnd").value = addressEnd
            map.centerAndZoom(pp, 18);
            //添加标注
            map.addOverlay(new BMapGL.Marker(pp));
        }

        //智能搜索
        var local = new BMapGL.LocalSearch(map, {
            onSearchComplete: myFun
        });
        local.search(myValueEnd);
    }

</script>
</body>
</html>
