<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">

        #search {
            width: 100%;
            background-color: seashell;
            height: 100%;
            border: 1px;
        }

    </style>
    <script type="text/javascript"
            src="//api.map.baidu.com/api?v=2.0&ak=ucHrfnAMPHBwtvcgdktxiL6soHhsszq5"></script>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
    <title>历史导航记录</title>
</head>

<body>
<div id="search">
    <form id="backSubmit" action="/guide/back" method="post"/>
    用户名： <input id="people" name="people" type="text" th:value="${session.user}" style="color: #a64bf4" readonly/>
    <input type="button" name="back" id="back" style="width: 50px;color: #7f7f7f; float:right" value="返回"
           onclick="backPage()"/>
    <br/>
    <span id="history" style="color: #a64bf4">导航历史记录</span><br/>

    <table border="1px">
        <tr style="color: green;font-size: 14px">
            <th>导航方式</th>
            <th>出发地</th>
            <th>目的地</th>
            <th>开始导航时间</th>
            <th>操作</th>
        </tr>
        <tr th:if="${!session.newMsg}">
            <th colspan="4" align="center" style="color: #ea4335">当前用户暂无导航记录</th>
        </tr>
        <tr id="guideHistory" th:each="guide:${session.guides}">
            <!--            <th class="oneGuide" name="one" id="guideId" th:text="${guide.id}" onclick="beginGuide()">驾车-->
            <!--            </th>-->
            <form name="detail" id="detailGuide" action="/guide/guideHistoryDetail" method="post">
                <input type="hidden" id="guideId" name="guideId" th:value="${guide.id}"/>
            </form>
            <th class="oneGuide" name="one" th:if="${guide.guideType.equals('0')}" onclick="beginGuide()">驾车
            </th>
            <th class="oneGuide" name="one" th:if="${guide.guideType.equals('1')}">公交
            </th>
            <th class="oneGuide" name="one" th:if="${guide.guideType.equals('2')}">徒步
            </th>
            <th class="oneGuide" name="one" th:if="${guide.guideType.equals('3')}">骑行
            </th>
            <th class="oneGuide" id="start" th:text="${guide.startPlace}"></th>
            <th class="oneGuide" is="end" th:text="${guide.endPlace}"></th>
            <th class="oneGuide" id="create" th:text="${#dates.format(guide.createTime,'yyyy-MM-dd HH:mm:ss')}"></th>
            <th class="oneGuide" id="detail">
                <input type="button" id="guideDetail" onclick="goDetail()" value="查看详情" class="btn-success"/>/
                <input type="button" id="deleteDetail" onclick="deleteDetail()" value="删除" class="btn-success"/>
            </th>
        </tr>

    </table>
</div>
</body>
<script type="text/javascript">
    function backPage() {
        $("#backSubmit").submit();
    }

    function goDetail() {
        $("#detailGuide").submit();
    }

</script>
</html>