<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户注册</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url('/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form validate-form" action="/index" method="post" id="loginForm">
                <span class="login100-form-title p-b-49">用户注册</span>
                <span class="login100-form-title p-b-23" style="color: red;" id="tip"/>
                <div class="wrap-input100 validate-input m-b-23" data-validate="请输入用户名">
                    <span class="label-input100">用户名</span>
                    <span id="sp"></span>
                    <input class="input100" id="username" type="text" name="username" placeholder="用户名必须以字母开头，且最少四位"
                           autocomplete="off">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="请输入密码">
                    <span class="label-input100">输入密码</span>
                    <span id="sp1"></span>
                    <input class="input100" id="pass" type="password" name="pass" placeholder="请输入密码">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="请输入密码">
                    <span class="label-input100">再次输入密码</span>
                    <span id="sp2"></span>
                    <input class="input100" id="pass1" type="password" name="pass1" placeholder="请输入密码">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <p href="javascript:"></p>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" id="submit" type="submit">确认注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="js/main.js"></script>
<script>
    var ret = /^[a-zA-Z][a-zA-Z0-9]{3,15}$/;
    var re = /^[\u4E00-\u9FA5]+$/;
    $("#username").blur(function () {
        var name = $("#username").val();
        if (name.match(re)) {
            document.getElementById("tip").innerText = "密码最少位5位";
            // alert("用户名不能为中文");
        }
        if (name.match(ret)) {
            $.post("/ajax/checkName", {name: name}, function (data) {
                if (data != "") {
                    alert(data);
                    var rand = parseInt(Math.random() * 1000);
                    document.getElementById("username").value = "user" + rand;
                }
            });
        } else {
            document.getElementById("tip").innerText = "注册用户名格式错误";
            // alert("注册用户名格式错误");
        }

    });
    var rep = /^.{5,}$/;

    $("#pass1").change(function () {
        var pass1 = $("#pass1").val();
        var pass = $("#pass").val();
        if (!pass.match(rep)) {
            document.getElementById("tip").innerText = "密码最少位5位";
        }
        if (pass.trim() !== pass1.trim()) {
            document.getElementById("tip").innerText = "前后密码不一致";
            alert("前后密码不一致");
        }
    });
    $("#submit").click(function () {
        var username = $("#username").val();
        var pass = $("#pass").val();
        var pass1 = $("#pass1").val();
        if (pass.trim() != pass1.trim()) {

        } else {
            $.post("/ajax/registerUser", {name: username, pass: pass, pass1: pass1}, function (data) {
                if (!"".equals(data)) {
                    document.getElementById("tip").innerText = data;
                    if ("200".equals(data)) {
                        $("#loginForm").submit();
                    }
                }
            });
        }
    });
</script>
<script type="text/javascript"> (function () {
    var s = "_" + Math.random().toString(36).slice(2);
    document.write('<div style="" id="' + s + '"></div>');
    (window.slotbydup = window.slotbydup || []).push({id: "u4923786", container: s});
})(); </script>
<script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js" async="async" defer="defer"></script>
</body>
</html>