<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }

        #container {
            height: 100%
        }
    </style>
    <style>
        #search {
            height: 100px;
            background-color: #00dbde;
        }

        #startGuide {
            color: #a64bf4;
        }

        endPlace {
            color: #ea4335;
        }

    </style>
    <script type="text/javascript"
            src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=ucHrfnAMPHBwtvcgdktxiL6soHhsszq5"></script>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <title>地图展示</title>
</head>

<body>
<!--搜索框-->
<div id="search">
    当前位置: <input type="text" name="nowPlace" id="nowPlace" style="width:200px;" readonly/>&nbsp;&nbsp;
    </br>
    <div id="r-result">
        <!--        <form id="guide" action="#" method="post">-->
        导航方式：<label for="driverType"></label><select class="driverType" id="driverType" style="width:100px;">
        <option value="0">驾车</option>
        <option value="1">公交</option>
        <option value="2">徒步</option>
        <option value="3">骑行</option>
    </select>
        出发地: <label for="startPlace"></label><input type="text" name="startPlace" id="startPlace" style="width:200px;"/>&nbsp;&nbsp;
        目的地: <label for="endPlace"></label><input type="text" id="endPlace" name="endPlace" style="width:200px;"/>
        <input type="button" id="startGuide" name="startGuide" onclick="beginGuide()" value="开始导航"/>
        <!--        </form>-->
    </div>
</div>
<!--地图容器-->
<div id="container"></div>
<!--推荐列表-->
<div id="searchResultPanel" style="border:1px solid #ea4335;width:150px;height:auto; display:none;"></div>
<div id="searchStartResultPanel" style="border:1px solid #ea4335;width:150px;height:auto; display:none;"></div>
</body>
<script type="text/javascript">
    var startPlacePoint;
    var endPlacePoint;

    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    var map = new BMapGL.Map("container");
    // 初始化地图,设置城市和地图级别。
    map.centerAndZoom("哈尔滨市", 15);


    //开启鼠标滚轮缩放
    map.enableScrollWheelZoom(true);
    // 添加比例尺控件
    var scaleCtrl = new BMapGL.ScaleControl();
    map.addControl(scaleCtrl);
    // 添加缩放控件
    var zoomCtrl = new BMapGL.ZoomControl();
    map.addControl(zoomCtrl);
    // 添加城市列表控件
    var cityCtrl = new BMapGL.CityListControl();
    map.addControl(cityCtrl);

    //建立一个自动完成的对象
    var ac = new BMapGL.Autocomplete({
        "input": "endPlace",
        "location": map
    });
    //鼠标放在下拉列表上的事件
    ac.addEventListener("onhighlight", function (e) {
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });


    var myValue;
    //鼠标点击下拉列表后的事件
    ac.addEventListener("onconfirm", function (e) {
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace() {
        //清除地图上所有覆盖物
        // map.clearOverlays();

        function myFun() {
            //获取第一个智能搜索的结果
            var pp = local.getResults().getPoi(0).point;
            map.centerAndZoom(pp, 18);
            //添加标注
            map.addOverlay(new BMapGL.Marker(pp));
            // 获取搜索结果的详细地址
            let addressEnd = local.getResults().getPoi(0).address;
            // 将获取到的地址填充到表单
            window.document.getElementById("endPlace").value = addressEnd;
            endPlacePoint = pp;
        }

        //智能搜索
        var local = new BMapGL.LocalSearch(map, {
            onSearchComplete: myFun
        });
        local.search(myValue);
    }

</script>
<script>
    //建立一个自动完成的对象
    var acStart = new BMapGL.Autocomplete({
        "input": "startPlace",
        "location": map
    });
    //鼠标放在下拉列表上的事件
    acStart.addEventListener("onhighlight", function (e) {
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchStartResultPanel").innerHTML = str;
    });


    var myValue;
    //鼠标点击下拉列表后的事件
    acStart.addEventListener("onconfirm", function (e) {
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchStartResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setStartPlace();
    });

    function setStartPlace() {
        //清除地图上所有覆盖物
        map.clearOverlays();

        function myFunStart() {
            //获取第一个智能搜索的结果
            var pp = local.getResults().getPoi(0).point;
            map.centerAndZoom(pp, 18);
            //添加标注
            map.addOverlay(new BMapGL.Marker(pp));
            // 获取搜索结果的详细地址
            let addressStart = local.getResults().getPoi(0).address;
            // 将获取到的地址填充到表单
            window.document.getElementById("startPlace").value = addressStart;
            startPlacePoint = pp;
        }

        //智能搜索
        var local = new BMapGL.LocalSearch(map, {
            onSearchComplete: myFunStart
        });
        local.search(myValue);
    }
</script>
<script>


    function beginGuide() {
        //获取导航方式
        var typeValue;
        typeValue = $("#driverType option:selected").val();
        //获取起始 和目的地经纬度

        if (typeValue == 0) {
            //路线推荐 1 驾车导航
            var p1 = startPlacePoint;
            var p2 = endPlacePoint;
            var driving = new BMapGL.DrivingRoute(map, {renderOptions: {map: map, autoViewport: true}});
            driving.search(p1, p2);
            alert("===========")
        } else if (typeValue == 1) {
            //路线推荐 2 公交导航
        } else if (typeValue == 2) {
            //路线推荐 3 徒步导航
        } else {
            //路线推荐 4 骑行导航
        }

    }


</script>
</html>