<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            height: 100%;
            margin: 0px;
            padding: 0px
        }

        #container {
            height: 100%
        }
    </style>
    <style>
        #search {
            height: 100px;
            background-color: #00dbde;
        }

        #startGuide {
            color: #a64bf4;
        }

        #endPlace {
            color: #ea4335;
        }

    </style>
    <script type="text/javascript"
            src="//api.map.baidu.com/api?v=2.0&ak=ucHrfnAMPHBwtvcgdktxiL6soHhsszq5"></script>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
    <title>地图展示</title>
</head>

<body>
<!--搜索框-->
<div id="search">
    </br>
    <form id="log" action="/user/logout" method="post">
        当前位置: <input type="text" name="nowPlace" id="nowPlace" style="width:220px;" readonly/>&nbsp;&nbsp;&nbsp;&nbsp;
        当前用户: <input type="text" name="nowUser" id="nowUser"
                     style="width:100px;background-color: white; color: #a64bf4;font-weight: 600"
                     th:value="${session.username}" readonly/>&nbsp;&nbsp;
        <input type="button" name="changePass" id="changePass" style="width: 70px;color: rebeccapurple" value="修改密码"
               onclick="updatePass()"/>&nbsp;&nbsp;
        <input type="button" name="history" id="history" style="width: 90px;color: sandybrown" onclick="History()"
               value="历史导航记录"/>
        <input type="submit" name="logout" id="logout" style="width: 50px;color: #7f7f7f; float:right" value="注销"/>
    </form>
    </br>
    <div id="r-result">
        <!--        <form id="guide" action="#" method="post">-->
        导航方式：<label for="driverType"></label><select class="driverType" id="driverType" style="width:100px;">
        <option value="0">驾车</option>
        <option value="1">公交</option>
        <option value="2">徒步</option>
        <!--        <option value="3">骑行</option>-->
    </select>
        出发地: <label for="startPlace"></label><input type="text" name="startPlace" id="startPlace" style="width:220px;"/>&nbsp;&nbsp;
        目的地: <label for="endPlace"></label><input type="text" id="endPlace" name="endPlace" style="width:220px;"/>&nbsp;&nbsp;
        <input type="button" id="startGuide" name="startGuide" onclick="beginGuide()" value="开始导航"/>
        <!--        </form>-->
    </div>

</div>
<div style="position: fixed;top: 100px; left: 0; width: 300px; max-height: 600px; overflow: auto; z-index: 999999"
     id="r">
</div>
<!--地图容器-->
<div id="container"></div>
<!--推荐列表-->
<div id="searchResultPanel" style="border:1px solid #ea4335;width:150px;height:auto; display:none;"></div>
<div id="searchStartResultPanel" style="border:1px solid #ea4335;width:150px;height:auto; display:none;"></div>
</body>
<script type="text/javascript">
    var startPlacePoint;
    var endPlacePoint;
    var count = 0;
    var driving = null;

    // 百度地图API功能
    function G(id) {
        return document.getElementById(id);
    }

    //百度地图加载显示页面容器div
    var map = new BMap.Map("container");
    //Point
    var point = new BMap.Point(126.730066, 45.749466);
    map.centerAndZoom(point, 17);

    //开启鼠标滚轮缩放
    map.enableScrollWheelZoom(true);
    // var geo = new BMap().Geolocation();
    // geo.enableSDKLocation();
    var geoc = new BMap.Geocoder();
    map.addEventListener("click", function (e) {
        //通过点击百度地图，可以获取到对应的point, 由point的lng、lat属性就可以获取对应的经度纬度
        var pt = e.point;
        geoc.getLocation(pt, function (rs) {
            //addressComponents对象可以获取到详细的地址信息
            var addComp = rs.addressComponents;
            var site = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
            //将对应的HTML元素设置值
            alert(site);
        });
    });

    //定位控件
    map.addControl(new BMap.CityListControl());

    //建立一个自动完成的对象
    var ac = new BMap.Autocomplete({
        "input": "endPlace",
        "location": map
    });
    //鼠标放在下拉列表上的事件
    ac.addEventListener("onhighlight", function (e) {
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });


    var myValue;
    //鼠标点击下拉列表后的事件
    ac.addEventListener("onconfirm", function (e) {
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace() {
        //清除地图上所有覆盖物
        // map.clearOverlays();
        function myFun() {
            //获取第一个智能搜索的结果
            var pp = local.getResults().getPoi(0).point;
            map.centerAndZoom(pp, 18);
            //添加标注
            map.addOverlay(new BMap.Marker(pp));
            // 获取搜索结果的详细地址
            let addressEnd = local.getResults().getPoi(0).address;
            // 将获取到的地址填充到表单
            window.document.getElementById("endPlace").value = addressEnd;
            endPlacePoint = pp;
        }
        //智能搜索
        var local = new BMap.LocalSearch(map, {
            onSearchComplete: myFun
        });
        local.search(myValue);
    }


    if (supportsGeoLocation()) {
    } else {
        alert("不支持 GeoLocation.");
    }

    // 检测浏览器是否支持HTML5
    function supportsGeoLocation() {
        return !!navigator.geolocation;
    }

    // 单次位置请求执行的函数
    function getLocation() {
        navigator.geolocation.getCurrentPosition(mapIt, locationError);
    }

    //定位成功时，执行的函数
    function mapIt(position) {
        var lon = position.coords.longitude;
        var lat = position.coords.latitude;
        var point = new BMap.Point("" + lon + "", "" + lat + "");
        var gc = new BMap.Geocoder();

        translateCallback = function (point) {
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
            map.setCenter(point);
            var gc1 = new BMap.Geocoder();
            gc1.getLocation(point, function (rs) {
                //通过百度的地址工具从经纬度得到中文的数据
                var addComp = rs.addressComponents;
                if (addComp.province !== addComp.city) {
                    // var sContent = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
                    var sContent = addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street;
                    // $("#nowPlace").val(sContent);
                    $("#nowPlace").val(sContent);
                } else {
                    var sContent =
                        addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber;
                    $("#nowPlace").val(sContent);
                }
                var infoWindow = new BMap.InfoWindow(sContent);
                map.openInfoWindow(infoWindow, point);
            });
        }
        //gpsPoint：转换前坐标，第二个参数为转换方法，0表示gps坐标转换成百度坐标，callback回调函数，参数为新坐标点
        BMap.Convertor.translate(point, 0, translateCallback);
    }

    // 定位失败时，执行的函数
    function locationError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                alert("用户拒绝了地理位置的请求");
                break;
            case error.POSITION_UNAVAILABLE:
                alert("当前地址信息失效");
                break;
            case error.TIMEOUT:
                alert("请求用户地址超时");
                break;
            case error.UNKNOWN_ERROR:
                alert("发生未知错误");
                break;
        }
    }

    // 页面加载时执行getLocation函数
    window.onload = getLocation;


</script>
<script>
    //建立一个自动完成的对象
    var acStart = new BMap.Autocomplete({
        "input": "startPlace",
        "location": map
    });
    //鼠标放在下拉列表上的事件
    acStart.addEventListener("onhighlight", function (e) {
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province + _value.city + _value.district + _value.street + _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchStartResultPanel").innerHTML = str;
    });


    var myValue;
    //鼠标点击下拉列表后的事件
    acStart.addEventListener("onconfirm", function (e) {
        var _value = e.item.value;
        myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
        G("searchStartResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setStartPlace();
    });

    function setStartPlace() {
        //清除地图上所有覆盖物
        map.clearOverlays();

        function myFunStart() {
            //获取第一个智能搜索的结果
            var pp = local.getResults().getPoi(0).point;
            map.centerAndZoom(pp, 18);
            //添加标注
            map.addOverlay(new BMap.Marker(pp));
            // 获取搜索结果的详细地址
            let addressStart = local.getResults().getPoi(0).address;
            // 将获取到的地址填充到表单
            window.document.getElementById("startPlace").value = addressStart;
            startPlacePoint = pp;
        }

        //智能搜索
        var local = new BMap.LocalSearch(map, {
            onSearchComplete: myFunStart
        });
        local.search(myValue);
    }
</script>
<script>
    function updatePass() {
        var name = $("#nowUser").val();
        location.href = "/user/changePass?name=" + name;
    }

    function History() {
        var name = $("#nowUser").val();
        location.href = "/guide/history?name=" + name;
    }

    function beginGuide() {
        //获取导航方式
        var typeValue;

        typeValue = $("#driverType option:selected").val();
        //获取起始 和目的地经纬度
        if (startPlacePoint == null || endPlacePoint == null) {
            alert("请输入出发地或者目的地");
        }
        count++;
        if (typeValue == 0) {
            //路线推荐 0 驾车导航
            var p1 = startPlacePoint;
            var p2 = endPlacePoint;
            if (driving != null) {
                driving.clearResults();
            }
            // 百度地图API功能
            driving = new BMap.DrivingRoute(map, {renderOptions: {map: map, autoViewport: true, panel: "r",}});

            driving.search(p1, p2);
        } else if (typeValue == 1) {
            //路线推荐 1 公交导航
            var p1 = startPlacePoint;
            var p2 = endPlacePoint;
            if (driving != null) {
                driving.clearResults();
            }
            // 百度地图API功能
            driving = new BMap.TransitRoute(map, {renderOptions: {map: map, autoViewport: true, panel: "r",}});
            driving.search(p1, p2);
        } else if (typeValue == 2) {

            //路线推荐 2 徒步导航
            var p1 = startPlacePoint;
            var p2 = endPlacePoint;
            if (driving != null) {
                driving.clearResults();
            }
            // 百度地图API功能
            driving = new BMap.WalkingRoute(map, {renderOptions: {map: map, autoViewport: true, panel: "r",}});
            driving.search(p1, p2);
        } else {

            //路线推荐 3 骑行导航
            // 2.0版本不支持骑行
            var p1 = startPlacePoint;
            var p2 = endPlacePoint;
            if (driving != null) {
                driving.clearResults();
            }
            // 百度地图API功能
            driving = new BMap.RidingRoute(map, {renderOptions: {map: map, autoViewport: true, panel: "r",}});
            driving.search(p1, p2);
        }
        var start = $("#startPlace").val();
        var end = $("#endPlace").val();
        var name = $("#nowUser").val();

        $.post("/ajax/addGuideHistory", {
            startLongitude: startPlacePoint.lng,
            startLatitude: startPlacePoint.lat,
            endLongitude: endPlacePoint.lng,
            endLatitude: endPlacePoint.lat,
            username: name,
            guideType: typeValue,
            startPlace: start,
            endPlace: end
        }, function (data) {
            alert(data);
        });

    }


</script>
</html>